:root {
    --brand-primary: #004a98;
    --brand-secondary: #2164a6;
    --brand-accent: #ff5000;
    --brand-surface: #ffffff;
    --brand-surface-secondary: #f2f2f2;
    --brand-highlight: #ffd8d8;
}